{% extends "base.html" %}
{% load static %}
{% load i18n %}


{% block title %}{{ object.title }}{% endblock title %}


{% block content %}
	<section class="padding-top-60 padding-bottom-30">
		<div class="container">
			<div class="row margin-bottom-20">
				<div class="col-md-5 offset-md-3">
					<h1 class="title__h1">
						{{ object.title }}
					</h1>
				</div>
			</div>

			<div class="row">
				<div class="col offset-md-3">
					<ul class="breadcrumb">
						<li>
							<a href="/">{% trans 'Главная' %}</a>
						</li>

						<li>
							{{ object.title }}
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section class="padding-top-40 padding-bottom-30">
		<div class="container">
			<div class="row">
				<div class="col-md-2"></div>

				<div class="col-md-9 offset-md-1">
					<div class="row">
						<div class="col-md-10">
							<div class="content js-photo-content">
								{{ object.content|safe }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}
