{% extends "base.html" %}
{% load static %}
{% load i18n %}


{% block title %}{% trans '404 ошибка — страница не найдена' %}{% endblock title %}


{% block content %}
	<section class="padding-top-60 padding-bottom-30">
		<div class="container">
			<div class="row justify-content-center margin-bottom-20">
				<div class="col-md-8">
					<h1 class="title__h1">
						{% trans 'Страница не найдена' %}
					</h1>
				</div>
			</div>

			<div class="row justify-content-center">
				<div class="col-md-8">
					<ul class="breadcrumb">
						<li>
							<a href="/">{% trans 'Главная' %}</a>
						</li>

						<li>
							{% trans 'Страница не найдена' %}
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section class="padding-top-40 padding-bottom-30">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8">
					<div class="content">
						<p>
							{% trans 'Добрый день! Скорее всего страница не найдена, т.к. мы недавно запустили новую версию сайта. Поисковые системы ещё не успели переиндексировать многочисленные изменения. Пожалуйста, найдите нужную Вам информацию, воспользовавшись меню, либо используя поиск по сайту (верхний правый угол).' %}
						</p>

						<p>
							{% trans 'К сожалению, введенный Вами адрес недоступен.' %}<br>
							{% trans 'Этому может быть несколько объяснений' %}:
						</p>

						<ol>
							<li>{% trans 'Страница удалена (из-за утраты актуальности информации)' %}</li>
							<li>{% trans 'Страница перенесена в другое место' %}</li>
							<li>{% trans 'Возможно, при вводе адреса была пропущена какая-то буква (на самом деле, у нас самих так часто получается)' %}</li>
						</ol>

						<p>
							<a class="btn" href="{% url 'main:index' %}">{% trans 'Перейти на главную страницу' %}</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}
