{% load static %}
{% load i18n %}
{% load core_tags %}

<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="imagetoolbar" content="no">
	<meta name="msthemecompatible" content="no">
	<meta name="cleartype" content="on">
	<meta name="HandheldFriendly" content="True">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

	<link sizes="152x152" href="{% static 'images/favicon/apple-touch-icon-152x152.png' %}" rel="apple-touch-icon">
	<link sizes="144x144" href="{% static 'images/favicon/apple-touch-icon-144x144.png' %}" rel="apple-touch-icon">
	<link sizes="120x120" href="{% static 'images/favicon/apple-touch-icon-120x120.png' %}" rel="apple-touch-icon">
	<link sizes="114x114" href="{% static 'images/favicon/apple-touch-icon-114x114.png' %}" rel="apple-touch-icon">
	<link sizes="76x76" href="{% static 'images/favicon/apple-touch-icon-76x76.png' %}" rel="apple-touch-icon">
	<link sizes="72x72" href="{% static 'images/favicon/apple-touch-icon-72x72.png' %}" rel="apple-touch-icon">
	<link sizes="60x60" href="{% static 'images/favicon/apple-touch-icon-60x60.png' %}" rel="apple-touch-icon">
	<link sizes="57x57" href="{% static 'images/favicon/apple-touch-icon-57x57.png' %}" rel="apple-touch-icon">
	<link sizes="196x196" href="{% static 'images/favicon/favicon-196x196.png' %}" rel="icon" type="image/png">
	<link sizes="96x96" href="{% static 'images/favicon/favicon-96x96.png' %}" rel="icon" type="image/png">
	<link sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}" rel="icon" type="image/png">
	<link sizes="128x128" href="{% static 'images/favicon/favicon-128.png' %}" rel="icon" type="image/png">
	<link sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}" rel="icon" type="image/png">
	<meta name="msapplication-square310x310logo" content="{% static 'images/favicon/mstile-310x310.png' %}">
	<meta name="msapplication-wide310x150logo" content="{% static 'images/favicon/mstile-310x150.png' %}">
	<meta name="msapplication-square150x150logo" content="{% static 'images/favicon/mstile-150x150.png' %}">
	<meta name="msapplication-TileImage" content="{% static 'images/favicon/mstile-144x144.png' %}">
	<meta name="msapplication-square70x70logo" content="{% static 'images/favicon/mstile-70x70.png' %}">
	<meta name="application-name" content="SmartHome">
	<meta name="msapplication-tooltip" content="SmartHome">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-tap-highlight" content="no">
	<meta name="msapplication-starturl" content="http://web3freelance.com">

	<title>{% block full_title %}{% block title %}{% endblock %} — {% trans 'Telegram Freelance for Web3' %}{% endblock full_title %}</title>

	<link rel="canonical" href="{{ request.path }}">
	<link rel="preload" href="{% static 'styles/base.css' %}" as="style">
	<link rel="stylesheet" href="{% static 'styles/bootstrap4/base.css' %}">
	<link rel="stylesheet" href="{% static 'styles/base.css' %}">

	{% block head %}{% endblock head %}

	{% comment %} <script src="https://telegram.org/js/telegram-web-app.js"></script> {% endcomment %}
</head>
<body>

	<script>
		if (localStorage.getItem('night') === 'true') {
			document.body.classList.add('night');
		};
	</script>

	<header class="header {% block header_class %}header-black{% endblock header_class %}">
		<div class="container">
			<div class="row header__row">
				<div class="col-2 col-sm-2 col-md-2">
					<a class="header__logo" href="{% url 'main:index' %}"></a>
				</div>

				<div class="col-10">
					<div class="d-flex justify-content-between">
						{% comment %} <a class="header__phone js-tippy" data-html=".js-tippy-html-want-phone" href="javascript:void(0);">
							{{ preference.phone }}
						</a> {% endcomment %}

						<a class="header__day js-night-btn" href="javascript:void(0);">{% trans 'Ночь' %}</a>

						<a class="header__language js-tippy" data-html=".js-tippy-html-want-language" href="javascript:void(0);"></a>

						<div class="header__menuwrap">
							<a class="header__menu js-menu-btn" href="javascript:void(0);"><span>{% trans 'Меню' %}</span></a>
						</div>

						{% comment %} <div>
							<a class="js-header-language header__language{% if request.LANGUAGE_CODE == 'uk' %} header__language-active{% endif %}" href="/uk{% withoutlangpath %}">UA</a>
							<a class="js-header-language header__language{% if request.LANGUAGE_CODE == 'en' %} header__language-active{% endif %}" href="/en{% withoutlangpath %}">EN</a>
							<a class="js-header-language header__language{% if request.LANGUAGE_CODE == 'ru' %} header__language-active{% endif %}" href="/ru{% withoutlangpath %}">RU</a>
						</div> {% endcomment %}
					</div>
				</div>
			</div>
		</div>
	</header>

	{% block content %}{% endblock content %}

	<div class="scroll js-menu-scroll">
		<div class="container scroll__container">
			<div class="row no-gutters">
				<div class="col-10 col-md-10">
					<div class="scroll__content d-flex justify-content-between">
						<a class="header__logo" href="{% url 'main:index' %}"></a>
						<a class="scroll__phone js-tippy" data-html=".js-tippy-html-want-phone" href="javascript:void(0);">
							{{ preference.phone }}
						</a>

						{% comment %} <form class="search scroll__search" action="{% url 'capture:site_search' %}" method="get">
							<input type="search" name="q" placeholder="{% trans 'Поиск по сайту' %}">
							<button type="submit"></button>
						</form> {% endcomment %}

						<a class="scroll__address-mobile js-tippy" data-html=".js-tippy-html-want-phone" href="javascript:void(0);"></a>
						{% comment %} <a class="scroll__search-mobile" href="{% url 'capture:site_search' %}"></a> {% endcomment %}
						<a class="header__day js-night-btn" href="javascript:void(0);">{% trans 'Ночь' %}</a>

						<a class="scroll__language js-tippy" data-html=".js-tippy-html-want-language" href="javascript:void(0);"></a>

						{% comment %} <div>
							<a class="header__language{% if request.LANGUAGE_CODE == 'uk' %} header__language-active{% endif %}" href="/uk{% withoutlangpath %}">UA</a>
							<a class="header__language{% if request.LANGUAGE_CODE == 'en' %} header__language-active{% endif %}" href="/en{% withoutlangpath %}">EN</a>
							<a class="header__language{% if request.LANGUAGE_CODE == 'ru' %} header__language-active{% endif %}" href="/ru{% withoutlangpath %}">RU</a>
						</div> {% endcomment %}
					</div>
				</div>

				<div class="col-2 col-md-2">
					<a class="scroll__menu js-menu-btn" href="javascript:void(0);">
						{% trans 'Меню' %}
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="menu js-menu">
		<div class="container menu__container">
			<div class="row no-gutters menu__row">
				<div class="col-md-12">
					<div class="menu__main">
						<div class="row menu__row">
							{% comment %} <div class="col-12 col-md-9">
								<form class="search menu__search" action="{% url 'capture:site_search' %}" method="get">
									<input type="search" name="q" placeholder="{% trans 'Поиск по сайту' %}">
									<button type="submit">
								</form>
							</div> {% endcomment %}

							<div class="col-12 col-md-3">
								<div class="menu__namewrap">
									<a href="javascript:void(0);" class="menu__name js-menu-close">{% trans 'Меню' %}</a>
								</div>

								<div class="menu__namewrap menu__namewrap-mobile">
									<a href="javascript:void(0);" class="menu__name js-menu-close"></a>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-7">
								<ul class="menu__nav">
									{% for service in service_list %}
										<li>
											<a href="{{ service.get_absolute_url }}">{{ service.title|truncatechars:60 }}</a>
										</li>
									{% endfor %}
								</ul>
							</div>

							<div class="col-md-2">
								<ul class="menu__nav">
									{% comment %} <li>
										<a href="{% url 'project:project_list' %}">{% trans 'Projects' %}</a>
									</li> {% endcomment %}

									<li>
										<a href="{% url 'main:about' %}">{% trans 'О нас' %}</a>
									</li>

									{% comment %} <li>
										<a href="{% url 'services:price_list' %}">{% trans 'Цены' %}</a>
									</li> {% endcomment %}

									<li>
										<a href="{% url 'main:page_detail' slug='contacts' %}">{% trans 'Контакты' %}</a>
									</li>
								</ul>
							</div>

							<div class="col-md-3">
								<div class="menu__address">
									{% if preference.phone %}
										<div>
											<a class="link link-black" href="tel:{{ preference.phone }}">{{ preference.phone }}</a>
										</div>
									{% endif %}

									{% if preference.phone_mobile %}
										<div>
											<a class="link link-black" href="tel:{{ preference.phone_mobile }}">{{ preference.phone_mobile }}</a>
										</div>
									{% endif %}

									{% if preference.phone_viber %}
										<div>
											<a class="link link-black" href="viber://add?number={{ preference.phone_viber }}">{% trans 'Написать в Viber' %}</a>
										</div>
									{% endif %}

									{% if preference.social_telegram %}
										<div>
											<a class="link link-black" href="t.me/joinchat/{{ preference.social_telegram }}">{% trans 'Написать в Telegram' %}</a>
										</div>
									{% endif %}

									{% if preference.phone_whatsapp %}
										<div>
											<a class="link link-black" href="https://wa.me/{{ preference.phone_whatsapp }}">{% trans 'Написать в WhatsApp' %}</a>
										</div>
									{% endif %}

									{% if preference.address %}
										<div>
											{{ preference.address }}
										</div>
									{% endif %}

									{% comment %} {% if preference.map_link %}
										<div>
											<a class="link link-black" href="{{ preference.map_link }}">{% trans 'Как проехать' %}</a>
										</div>
									{% endif %} {% endcomment %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% include "blocks/modal-night.html" %}
	{% comment %} {% include "blocks/modal-role.html" %} {% endcomment %}

	<div class="js-tippy-html-want-phone" style="display:none;">
		<div class="tippy__phone">
			{% if preference.phone %}
				<a class="tippy__button" href="tel:{{ preference.phone }}">{{ preference.phone }}</a>
			{% endif %}

			{% if preference.phone_mobile %}
				<a class="tippy__button" href="tel:{{ preference.phone_mobile }}">{{ preference.phone_mobile }}</a>
			{% endif %}

			{% if preference.phone_viber %}
				<a class="tippy__button tippy__button-viber" href="viber://add?number={{ preference.phone_viber }}">{% trans 'Написать в Viber' %}</a>
			{% endif %}

			{% if preference.social_telegram %}
				<a class="tippy__button tippy__button-telegram" href="t.me/joinchat/{{ preference.social_telegram }}">{% trans 'Написать в Telegram' %}</a>
			{% endif %}

			{% if preference.phone_whatsapp %}
				<a class="tippy__button tippy__button-whatsapp" href="https://wa.me/{{ preference.phone_whatsapp }}">{% trans 'Написать в WhatsApp' %}</a>
			{% endif %}
		</div>
	</div>

	<div class="js-tippy-html-want-language" style="display:none;">
		<div class="tippy__phone" style="background-color:#0a4b7c;">
			<a class="js-header-language tippy__button" style="color:#fff;{% if request.LANGUAGE_CODE == 'en' %}font-weight:bold;{% endif %}" href="/en{% withoutlangpath %}">EN</a>
			<a class="js-header-language tippy__button" style="color:#fff;{% if request.LANGUAGE_CODE == 'uk' %}font-weight:bold;{% endif %}" href="/uk{% withoutlangpath %}">UA</a>
			<a class="js-header-language tippy__button" style="color:#fff;{% if request.LANGUAGE_CODE == 'ru' %}font-weight:bold;{% endif %}" href="/ru{% withoutlangpath %}">RU</a>
		</div>
	</div>

	<footer class="footer">
		<div class="container footer__container">
			<div class="row">
				{% comment %} <div class="col-md-4 col-sm-12">
					<div>
						<form class="search footer__search" action="{% url 'capture:site_search' %}" method="get">
							<input type="search" name="q" placeholder="{% trans 'Поиск по сайту' %}">
							<button type="submit">
						</form>
					</div>
				</div> {% endcomment %}

				<div class="col-9 col-md-5">
					<div class="footer__address">
						<p>
							{{ preference.footer_address|linebreaksbr }}
						</p>

						{% comment %} <a class="link link-white" href="{{ preference.map_link }}">{% trans 'Показать на карте' %}</a> {% endcomment %}
					</div>
				</div>

				<div class="col-3 col-md-3">
					<div class="footer__social">
						{% if preference.social_facebook %}
							<a class="social social-face" href="{{ preference.social_facebook }}"></a>
						{% endif %}

						{% if preference.social_vkontakte %}
							<a class="social social-vk" href="{{ preference.social_vkontakte }}"></a>
						{% endif %}

						{% if preference.social_instagram %}
							<a class="social social-insta" href="{{ preference.social_instagram }}"></a>
						{% endif %}
					</div>
				</div>
			</div>

			<hr class="footer__line">

			<div class="row">
				<div class="col-md-4">
					<div class="footer__copyright">
						<span>2021 {% trans 'Дизайн и разработка' %}:</span> <a class="link link-white" href="mailto:o5b.developer@gmail.com">o5b</a>
					</div>
				</div>

				<div class="col-md-4">
					<div class="footer__politics">
						<a class="link link-white" href="{% url 'main:page_detail' slug='policy' %}">{% trans 'Политика конфиденциальности' %}</a>
					</div>
				</div>

				<div class="col-md-4">
					<div class="footer__contacts">
						<a class="link link-white" href="{% url 'main:page_detail' slug='contacts' %}">{% trans 'Контакты' %}</a>
					</div>
				</div>
			</div>
		</div>
	</footer>

	{% comment %} <script src="https://cdn.jsdelivr.net/combine/npm/jquery@3,npm/tippy.js@3,npm/swiper@4,npm/jquery-mask-plugin@1,npm/photoswipe@4,npm/photoswipe@4/dist/photoswipe-ui-default.min.js,npm/mark.js@8/dist/jquery.mark.min.js"></script> {% endcomment %}


	<script src="{% static 'scripts/npm/jquery-3.7.1.min.js' %}"></script>
	<script src="{% static 'scripts/npm/node_modules/tippy.js/dist/tippy.all.min.js' %}"></script>
	<script src="{% static 'scripts/npm/node_modules/swiper/dist/js/swiper.min.js' %}"></script>
	<script src="{% static 'scripts/npm/node_modules/jquery-mask-plugin/dist/jquery.mask.min.js' %}"></script>
	<script src="{% static 'scripts/npm/node_modules/photoswipe/dist/photoswipe.min.js' %}"></script>
	<script src="{% static 'scripts/npm/node_modules/photoswipe/dist/photoswipe-ui-default.min.js' %}"></script>
	<script src="{% static 'scripts/npm/node_modules/mark.js/dist/mark.min.js' %}"></script>
	<script src="{% static 'scripts/npm/node_modules/mark.js/dist/jquery.mark.min.js' %}"></script>


	<script src="{% static 'scripts/vendor/jqPhotoSwipe/jqPhotoSwipe.min.js' %}"></script>
	<script src="{% static 'scripts/base.js' %}"></script>

	{% comment %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/photoswipe@4/dist/photoswipe.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/photoswipe@4/dist/default-skin/default-skin.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/tippy.js@3/dist/themes/light.min.css">
	{% endcomment %}

	<link rel="stylesheet" href="{% static 'scripts/npm/node_modules/photoswipe/dist/photoswipe.css' %}">
	<link rel="stylesheet" href="{% static 'scripts/npm/node_modules/photoswipe/dist/default-skin/default-skin.css' %}">
	<link rel="stylesheet" href="{% static 'scripts/npm/node_modules/tippy.js/dist/themes/light.css' %}">

	{% block footer_js %}{% endblock footer_js %}

</body>
</html>
