{% if page.has_previous or page.has_next %}
    <div>
        {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}">&laquo; Previous </a>
        {% endif %}

        {{ page.number }} of {{ page.paginator.num_pages }}

        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}"> Next &raquo;</a>
        {% endif %}
    </div>
{% endif %}


{% comment %} {% if page.has_previous or page.has_next %}
  <div class="pagination">
      {% if page.has_previous %}
          <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">&laquo; Previous </a>
      {% endif %}

      {{ page.number }} from {{ page.paginator.num_pages }}

      {% if page.has_next %}
          <a href="?q={{ query }}&amp;page={{ page.next_page_number }}"> Next &raquo;</a>
      {% endif %}
  </div>
{% endif %} {% endcomment %}
